//typography
$font-family-base: 'Avenir', sans-serif
$font-family-secondary: '', sans-serif

$default-font-size: 18px
$default-line-height: 1.4
$default-font-weight: 500
$default-text-color: #fff

$default-transition-duration: 0.3s
$default-transition-function: ease-out
$default-transition: 0.3s ease-out


//breakpoints
$breakpoint-xxl: 1800px    
$breakpoint-xl: 1441px
$breakpoint-lg: 992px
$breakpoint-md: 769px
$breakpoint-sm: 576px
$breakpoint-xs: 425px

$grid-gutter: 20px


//colors
$color-light: #fff 
$color-dark: #000
$color-pink: #FC01CD
$color-blue: #003CC7
$color-dark-grey: #8B8B8B
$color-light-grey: #F1F1F1
$color-semi-grey: #DBDBDB
$color-grey: #C8C8C8

$color-bg-dark: #000
$color-bg-light: #FFFFFF
$color-bg-grey: #F1F1F1

$default-border: 1px solid $color-bg-light

$gap-default: 30px
