body
    background-color: $color-background-main
    
header
    background: #000

img
    max-width: 100%

.section
    +adaptive-value('padding-top', 90, 30 , 1)
    +adaptive-value('padding-bottom', 90, 30 , 1)
    &__title
        +adaptive-value('margin-bottom', 40, 20 , 1)

.bg-color
    &.bg-color
        &--white
            background-color: white
        &--text
            background-color: $color-text
        &--main
            background-color: $color-background-main
        &--light
            background-color: $color-background-light
        &--light-gray
            background-color: $color-light-gray
        &--dark
            background-color: $color-background-dark
        &--cream
            background-color: $color-background-cream
        &--yellow
            background-color: $color-yellow
        &--red
            background-color: $color-red
        &--blue
            background-color: $color-blue
.text-color
    &.text-color
        &--white
            color: white
        &--text
            color: $color-text
        &--main
            color: $color-background-main
        &--light
            color: $color-background-light
        &--light-gray
            color: $color-light-gray
        &--dark
            color: $color-background-dark
        &--cream
            color: $color-background-cream
        &--yellow
            color: $color-yellow
        &--red
            color: $color-red
        &--blue
            color: $color-blue


        
.img-absoolute
    position: absolute
    inset: 0
    width: 100%
    height: 100%
    object-fit: cover
body 
    .container 
        max-width: 1235px 
        padding: 0 20px 
        +min-screen($breakpoint-sm)
            padding-left: 30px
            padding-right: 30px

// .codelibry
//     &-under-dev
//         opacity: 0.5