.features
    &__item
        padding-top: 1rem
        padding-bottom: 1rem
        &-wrapper
            padding-left: 5px
            padding-right: 5px
            +min-screen($breakpoint-lg)
                min-width: 180px