.button,
.wpcf7-submit
    cursor: pointer
    transition: $default-transition

.button
    display: inline-block
    background-color: $color-text
    
    color: white
    &:hover
        background-color: $color-background-dark
    &--outline
        border: 2px solid $color-text
        background-color: transparent
        color: $color-text
        &:hover
            background-color: $color-background-dark
            border: 2px solid transparent
            color: $color-white
    &--lg
        padding: 1rem 2rem
    &--arrow
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        font-weight: 600

        background-color: transparent
        color: inherit
        &:hover
            background-color: transparent
        &:hover
            svg
                transform: translateX(8px)
        svg
            transition: $default-transition
            width: 15px
            height: 26px
            margin-bottom: -3px
            margin-left: 0.5rem

.wpcf7-submit
    text-transform: uppercase
    font-weight: 600