.button,
.wpcf7-submit
    cursor: pointer
    transition: $default-transition

.button,
.btn
    display: inline-block
    background-color: $color-text
    text-decoration: none 
    color: white
    &:hover
        background-color: $color-background-dark
    &--outline
        border: 2px solid $color-text
        background-color: transparent
        color: $color-text
        &:hover
            background-color: $color-background-dark
            border: 2px solid transparent
            color: $color-white
    &--lg
        padding: 1rem 2rem
    &--block
        display: block
        width: 100%
    &--arrow
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        font-weight: 600

        background-color: transparent
        color: inherit
        &:hover
            background-color: transparent
        &:hover
            svg
                transform: translateX(8px)
        svg
            transition: $default-transition
            width: 15px
            height: 26px
            margin-bottom: -3px
            margin-left: 0.5rem
        &.sm 
            +max-screen($breakpoint-lg)
                font-size: 14px
                margin-top: 6px
            +max-screen($breakpoint-md)
                font-size: 12px
                margin-top: 4px
            svg 
                +max-screen($breakpoint-lg)
                    margin-bottom: 0
                    margin-left: 0.25rem
                    width: 13px 
                    height: 100%
                +max-screen($breakpoint-md)
                    width: 12px 
    &--black,
    &--white 
        border-radius: 0
        font-weight: 400
        padding: 16px 36px
        transition: .3s
        +max-screen($breakpoint-lg)
            padding: 12px 32px 
        +max-screen($breakpoint-md)
            padding: 10px 24px 
    &--black 
        background: $color-text
        color: $color-white
        border: 1px solid $color-text
        &:hover 
            color: $color-text
            background-color: $color-white
    &--white 
        border: 1px solid $color-text
        background: $color-white
        color: $color-text
        &:hover 
            color: $color-white
            background-color: $color-text
            border-color: $color-text
    &.bg-color--cream:hover 
        background-color: $color-background-disabled
    &.wpcf7-submit:not(.button--block)
        width: fit-content
    &--border
        &--white 
            border-color: $color-white

.wpcf7-submit
    text-transform: uppercase
    font-weight: 600
    background-color: $color-background-cream
    // &:hover
    //     background-color: white
    //     color: $color-background-cream