input
    padding: 0.75rem 1rem 
    font-size: 16px
    border: 0
    border-radius: $radius-default
    font-weight: 600

.form-flat
    p
        display: flex
        flex-wrap: wrap

        width: fit-content
        position: relative

        margin-bottom: 0
        .wpcf7-submit
            position: absolute
            right: 0
            z-index: 10
            &:hover
                padding-left: 1.25rem
                padding-right: 1.25rem
        .wpcf7-form-control-wrap
            width: 100%
            input
                width: 100%
    input
        &.text-color--cream
            transition: $default-transition
            &::placeholder
                color: $color-background-cream
            &:hover
                background-color: $color-background-cream
                color: white
    *
        max-width: 100%