.shopPage 
    +max-screen($breakpoint-lg)
        position: relative
    &__filters
        margin-bottom: 56px
        width: 25%
        +max-screen(1200px)
            margin-bottom: 48px
        +max-screen($breakpoint-lg)
            margin-bottom: 42px
            width: calc( 100% + 60px )
            margin-left: -30px
            margin-right: -30px
        +max-screen($breakpoint-md)
            margin-bottom: 36px
        +max-screen($breakpoint-sm)
            margin-left: -20px
            margin-right: -20px
            width: calc( 100% + 40px )
        &.sort-wrapper 
            width: 100% 
            +max-screen($breakpoint-lg)
                width: calc( 50% + 30px )
                margin-right: -30px
                margin-left: 0
                order: 4
            +max-screen($breakpoint-sm)
                width: calc( 50% + 20px )
                margin-right: -20px
            .shopPage__filtersRow
                border-bottom: 1px solid $color-text
                display: flex 
                flex-direction: row 
                +max-screen($breakpoint-lg)
                    border: 0
                &__item 
                    &Title 
                        align-items: flex-end
                        +max-screen($breakpoint-lg)
                            width: 100%
                        +min-screen(993px)
                            justify-content: flex-end
                            padding: 0
                            padding-bottom: 16px
                        span  
                            cursor: pointer
                &__list 
                    &Wrapper 
                        display: block
                        width: fit-content
                        right: -32px
                        left: auto
                        border: 0px
                        top: calc(100% + 1px)
        &Row 
            display: flex 
            padding-right: 32px
            flex-direction: column-reverse 
            +max-screen(1200px)
                padding-right: 20px
            +max-screen($breakpoint-lg)
                flex-direction: row 
                padding-right: 0
            &__pillsList 
                width: 70% 
                display: flex 
                margin: 0 -8px 
                margin-bottom: 8px
                align-items: flex-start
                flex-wrap: wrap 
                +max-screen($breakpoint-lg)
                    position: absolute
                    top: 0
                    left: 0
                    width: calc( 100% - 60px )
                    left: 30px 
                +max-screen($breakpoint-sm)
                    left: 20px
                    width: calc(100% - 40px)
                    margin-left: -4px
                    margin-right: -4px
                &__item 
                    margin: 0 8px 
                    margin-bottom: 8px
                    position: relative
                    +max-screen($breakpoint-md)
                        margin-left: 4px
                        margin-right: 4px
                    &Label
                        padding: 6px 12px 
                        padding-left: 26px
                        border-radius: 10px 
                        border: 1px solid $color-text
                        line-height: 1
                        +max-screen($breakpoint-md)
                            padding: 4px 8px 
                            font-size: 12px
                            padding-left: 18px
                    &Remove 
                        width: 12px 
                        height: 12px 
                        background-image: url('../assets/images/icons/close.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        background-position: center
                        position: absolute
                        top: 50%
                        left: 8px 
                        transform: translateY(-50%)
                        cursor: pointer
                        +max-screen($breakpoint-md)
                            width: 10px 
                            heigth: 10px 
                            left: 6px 
            &__list 
                &Close 
                    +max-screen($breakpoint-lg)
                        width: 20px 
                        height: 20px 
                        background-image: url('../assets/images/icons/close.svg')
                        background-size: contain
                        background-position: center
                        background-repeat: no-repeat
                        position: absolute
                        top: 16px 
                        right: 16px 
            &__item 
                position: relative
                width: 100%
                &Title 
                    justify-content: center
                    font-weight: 500
                    display: flex 
                    align-items: center
                    padding: 16px 
                    +max-screen($breakpoint-lg)
                        padding: 12px 
                        font-size: 15px
                        border: 1px solid $color-text 
                        border-left: 0
                        border-right: 0
                    +max-screen($breakpoint-lg)
                        padding: 10px 
                    span 
                        position: relative
                    img 
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        width: 20px 
                        height: 20px 
                        left: -28px 
                        +max-screen($breakpoint-lg)
                            width: 16px 
                            height: 16px 
                            left: -24px
                &.sort 
                    display: flex 
                    justify-content: flex-end
                    width: auto 
                    margin-left: auto
                    +max-screen($breakpoint-lg)
                        width: 100%
                    .shopPage__filtersRow__list
                        +max-screen($breakpoint-md)
                            width: 100%
                        &Wrapper 
                            padding: 32px 
                            border: 0
                            border-top: 0
                            position: absolute
                            top: calc( 100% + 1px )
                            z-index: 10
                            background-color: $color-background-main
                            widthL fit-content
                            right: -32px 
                            display: none 
                            box-shadow: $shadow-default
                            +max-screen(1200px)
                                padding: 20px 
                                right: -20px 
                            +max-screen($breakpoint-lg)
                                position: fixed 
                                top: 0
                                left: -40%
                                width: 40% 
                                height: 100%
                                display: block
                                z-index: 200
                                transition: .3s 
                                padding: 64px 32px
                                display: flex 
                                flex-direction: column 
                                box-shadow: none 
                            +max-screen($breakpoint-md)
                                width: 100%
                                left: -100%
                        &Item 
                            display: flex 
                            margin-bottom: 16px
                            align-items: center
                            cursor: pointer
                            +max-screen(1200px)
                                margin-bottom: 8px
                            +max-screen($breakpoint-md)
                                margin-bottom: 12px
                            &__checkbox 
                                width: 14px 
                                min-width: 14px 
                                height: 14px 
                                position: relative
                                margin-right: 12px
                                border-radius: 50%
                                background-image: url('../assets/images/icons/radio-btn.png')
                                background-size: contain
                                background-position: center
                                background-repeat: no-repeat
                                +max-screen(1200px)
                                    width: 12px 
                                    min-width: 12px 
                                    height: 12px 
                                    margin-right: 8px
                                +max-screen($breakpoint-md)
                                    width: 14px 
                                    min-width: 14px 
                                    height: 14px 
                                // &::after 
                                //     content: ""
                                //     position: absolute
                                //     left: 50%
                                //     top: 50%
                                //     transform: translate(-50%, -50%)
                                //     width: 8px 
                                //     height: 8px 
                                //     background-size: contain
                                //     background-repeat: no-repeat
                                //     background-position: center
                                //     opacity: 0
                                //     visibility: hidden 
                                //     transition: .3s
                                //     background-color: $color-text
                                //     border-radius: 50%
                                //     +max-screen(1200px)
                                //         width: 6px 
                                //         height: 6px 
                                //     +max-screen($breakpoint-md)
                                //         width: 8px 
                                //         height: 8px 
                            &__name 
                                font-size: 16px
                                white-space: nowrap 
                                +max-screen(1200px)
                                    font-size: 14px
                                +max-screen($breakpoint-md)
                                    white-space: wrap 
                            &.active .shopPage__filtersRow__listItem__checkbox 
                                background-image: url('../assets/images/icons/radio-btn-filled.png')
                        &__apply 
                            margin-top: 24px
                            display: block 
                            padding: 12px 24px
                            text-align: center
                            cursor: pointer
                            +max-screen(1200px)
                                font-size: 14px 
                                padding: 8px 
                                margin-top: 20px
                            +max-screen($breakpoint-lg)
                                margin-top: auto
                                padding: 12px 32px 
                                font-size: 16px
                            +max-screen($breakpoint-md)
                                margin: 0
                                padding: 10px 32px
                                width: 100%
                                margin-top: auto
                    &.opened
                        .shopPage__filtersRow__listWrapper 
                            left: 0 
                        .shopPage__filtersRow__itemOverlay
                            +max-screen($breakpoint-lg)
                                opacity: 1
                                visibility: visible
                &.filter 
                    .shopPage__filtersRow__itemTitle
                        +min-screen(993px)
                            display: none 
                        &__emptyContent 
                            display: none 
                    .shopPage__filtersRow__list
                        &Wrapper 
                            +max-screen($breakpoint-lg)
                                position: fixed 
                                top: 0
                                left: -40%
                                width: 40%
                                height: 100% 
                                background-color: $color-background-main 
                                z-index: 200
                                padding: 64px 32px 
                                display: flex 
                                flex-direction: column 
                                overflow: scroll
                                opacity: 0
                                visibility: hidden
                                transition: .3s 
                            +max-screen($breakpoint-md)
                                width: 100%
                        &Item 
                            +max-screen($breakpoint-lg)
                                margin-bottom: 24px
                            &__sublist
                                +max-screen($breakpoint-lg)
                                    display: none 
                                    max-height: 250px 
                                    overflow: scroll 
                                    padding: 0 6px 
                                    margin: 6px 0
                                &Item 
                                    +max-screen($breakpoint-lg)
                                        margin-bottom: 4px
                                        position: relative
                                    &__name 
                                        cursor: pointer
                                        +max-screen($breakpoint-lg)
                                            padding-left: 16px
                                    &__description 
                                        display: none
                                    &__checkbox 
                                        +max-screen($breakpoint-lg)
                                            position: absolute
                                            left: 0
                                            top: 50%
                                            transform: translateY(-50%)
                                            width: 11px 
                                            height: 11px 
                                            border: 1px solid $color-text
                                        &::after 
                                            +max-screen($breakpoint-lg)
                                                content: ""
                                                position: absolute
                                                top: 50%
                                                left: 50%
                                                transform: translate(-50%, -50%)
                                                width: 10px 
                                                height: 10px 
                                                background-size: contain
                                                background-repeat: no-repeat
                                                background-position: center
                                                background-image: url('../assets/images/icons/tick.svg')
                                                transition: .3s 
                                                opacity: 1
                                                visibility: hidden
                                    &.active
                                        .shopPage__filtersRow__listItem__sublistItem__checkbox::after 
                                            +max-screen($breakpoint-lg)
                                                visibility: visible 
                                                opacity: 1
                                    
                            &__title 
                                cursor: pointer
                                +max-screen($breakpoint-lg)
                                    position: relative
                                &::after 
                                    +max-screen($breakpoint-lg)
                                        content: ""
                                        position: absolute
                                        right: 0
                                        top: 50%
                                        transform: translateY(-50%)
                                        width: 14px 
                                        height: 10px 
                                        background-image: url('../assets/images/icons/accordion__arrow.svg')
                                        background-size: contain
                                        background-position: center
                                        background-repeat: no-repeat
                        &__apply 
                            cursor: pointer
                            +max-screen($breakpoint-lg)
                                margin-top: auto
                            .btn
                                +max-screen($breakpoint-lg)
                                    width: 100%
                                    text-align: center
                    &.opened
                        .shopPage__filtersRow__listWrapper
                            left: 0
                        .shopPage__filtersRow__listWrapper,
                        .shopPage__filtersRow__itemOverlay
                            opacity: 1 
                            visibility: visible  

                &Overlay 
                    position: fixed 
                    top: 0
                    left: 0
                    width: 100%
                    height: 100% 
                    background-color: rgba(0, 0, 0, 0.3)
                    z-index: 199
                    opacity: 0
                    visibility: hidden 
                    transition: .3s 
        &.filters-wrapper
            +max-screen($breakpoint-lg)
                width: calc( 50% + 30px )
                margin-left: -30px
                margin-right: 0
                order: 3
            +max-screen($breakpoint-sm)
                width: calc( 50% + 20px )
                margin-left: -20px
            .shopPage__filtersRow
                &__item 
                    &Title 
                        display: none 
                        +max-screen($breakpoint-lg)
                            display: flex
                            border-right: 1px solid $color-text
                &__list 
                    &Item 
                        margin-bottom: 32px
                        +max-screen(1200px)
                            margin-bottom: 20px
                        &__title 
                            font-weight: 500
                            position: relative
                            &::after 
                                content: ""
                                position: absolute
                                top: 50%
                                right: 0 
                                width: 12px 
                                height: 10px 
                                background-image: url('../assets/images/icons/accordion__arrow.svg')
                                background-size: contain
                                background-repeat: no-repeat
                                background-position: center
                                transform: translateY(-50%)
                                transition: .3s 
                        &__sublist 
                            padding: 6px
                            margin-top: 12px
                            max-height: 300px
                            overflow-y: scroll
                            display: none 
                            +max-screen(1200px)
                                padding: 0 6px 
                                margin-top: 6px
                            &::-webkit-scrollbar
                                +min-screen(993px)
                                    width: 5px 
                                
                            &::-webkit-scrollbar-track
                                +min-screen(993px)
                                    background-color: #f1f1f1

                            &::-webkit-scrollbar-thumb
                                +min-screen(993px)
                                    background: #888
                                    border-radius: 20px 
                                    transition: .3s 
                            &::-webkit-scrollbar-thumb:hover
                                +min-screen(993px)
                                    background: #555
                            &Item 
                                position: relative
                                &s 
                                    display: flex 
                                    flex-direction: column
                                &__name 
                                    font-size: 16px
                                    padding-left: 20px
                                    margin-bottom: 4px
                                    +max-screen(1200px)
                                        font-size: 14px
                                        padding-left: 16px
                                &__checkbox 
                                    height: 12px
                                    width: 12px
                                    position: absolute
                                    top: calc( 50% - 2px ) 
                                    left: 0
                                    transform: translateY(-50%)
                                    border: 1px solid $color-text
                                    +max-screen(1200px)
                                        height: 10px 
                                        width: 10px 
                                    &::after 
                                        content: ""
                                        position: absolute
                                        left: 50%
                                        top: 50%
                                        transform: translate(-50%, -50%)
                                        width: 10px 
                                        height: 10px 
                                        background-image: url('../assets/images/icons/tick.svg')
                                        background-size: contain
                                        background-repeat: no-repeat
                                        background-position: center
                                        opacity: 0
                                        visibility: hidden 
                                        transition: .3s
                                        +max-screen(1200px)
                                            width: 8px 
                                            height: 8px 
                                        +max-screen($breakpoint-md)
                                            width: 10px 
                                            height: 10px 
                                &.active
                                    .shopPage__filtersRow__listItem__sublistItem__checkbox::after 
                                        visibility: visible 
                                        opacity: 1
                                        
                        &.opened .shopPage__filtersRow__listItem__title
                            &::after 
                                transform: translateY(-50%) rotate(180deg)
                        &:first-child
                            .shopPage__filtersRow__listItem__sublist
                                display: block 
                    &__apply 
                        .btn 
                            width: 100%
                            padding: 12px 24px 
                            text-align: center
                            +max-screen(1200px)
                                padding: 8px 16px 