.shopPage 
    padding-top: 12px
    padding-bottom: 80px
    +max-screen(1200px)
        padding-top: 0
        padding-bottom: 64px
    +max-screen($breakpoint-lg)
        padding-bottom: 52px
    +max-screen($breakpoint-md)
        padding-bottom: 42px
    &__top
        width: 100%
        +max-screen($breakpoint-lg)
            order: 1
        +max-screen($breakpoint-md)
            max-width: 600px 
            margin: auto
    .woocommerce-notices-wrapper 
        +max-screen($breakpoint-lg)
            order: 2
    &__content 
        display: flex 
        flex-wrap: wrap 
    &__title 
        margin-bottom: 16px
        +max-screen(1200px)
            margin-bottom: 8px
        +max-screen($breakpoint-lg)
            margin-bottom: 0
    &__text 
        margin-bottom: 56px
        +max-screen(1200px)
            margin-bottom: 48px
        +max-screen($breakpoint-lg)
            margin-bottom: 42px
        +max-screen($breakpoint-md)
            margin-bottom: 36px
        .section 
            padding: 0
    &__list
        width: 75%
        +max-screen($breakpoint-lg)
            width: 100%
            order: 5
        +max-screen($breakpoint-md)
            max-width: 600px 
            margin: auto 
        ul.products
            display: flex 
            flex-wrap: wrap
            margin: 0 -15px 
            margin-bottom: -52px
            +max-screen(1200px)
                margin-bottom: -42px 
            +max-screen($breakpoint-lg)
                margin: 0 -7.5px 
            +max-screen($breakpoint-md)
                margin: 0 -10px 
                margin-bottom: -36px
        &Item 
            margin-bottom: 52px
            +max-screen(1200px)
                margin-bottom: 42px
            +max-screen($breakpoint-lg)
                padding: 0 7.5px 
            +max-screen($breakpoint-md)
                padding: 0 10px 
                margin-bottom: 36px
            &__image 
                position: relative 
                padding-bottom: 85%
                margin-bottom: 32px
                +max-screen(1200px)
                    margin-bottom: 28px
                +max-screen($breakpoint-lg)
                    margin-bottom: 20px
                img 
                    height: 100% 
                    object-fit: contain
                    object-position: top 
                    transition: .5s 
                    &.hover-image
                        opacity: 0
                        visibility: hidden
            &__tax
                font-weight: 700
                text-transform: uppercase
                font-size: 14px
                margin-bottom: 8px
                +max-screen(1200px)
                    font-size: 12px
                    margin-bottom: 4px
                +max-screen($breakpoint-lg)
                    font-size: 10px
            &__labels 
                position: absolute
                z-index: 1
                left: 21px
                top: 6px
                line-height: 1
                display: flex 
                margin: 0 -4px 
                flex-wrap: wrap 
                +max-screen($breakpoint-lg)
                    left: 12px 
                    top: 4.5px 
                +max-screen($breakpoint-md)
                    top: 4px 
                    left: 14px 
                span.shopPage__listItem__badge
                    position: static
                    min-width: 0
                    min-height: 0
                    line-height: 1
                    border-radius: $radius-default
                    padding: 4px 8px 
                    display: block 
                    margin: 0 4px 
                    font-weight: 500
                    font-size: 16px
                    margin-bottom: 6px
                    +max-screen(1200px)
                        font-size: 12px
                        padding: 2.5px 6px 
                    +max-screen($breakpoint-md)
                        padding: 2px 4px 
                        font-size: 10px
                        display: flex 
                        align-items: center 
                        text-align: center
                        white-space: nowrap 
                    &.onsale 
                        background-color: $color-red
                    &.new-badge 
                        background-color: $color-yellow
                    &.top-seller
                        background-color: $color-background-blue 
                        color: $color-white
                    &.last-chance 
                        background-color: $color-background-dark
                        color: $color-white
                    &.limited-edition 
                        background-color: $color-background-gold
                        color: $color-white
            &__content 
                display: flex 
                flex-direction: column
                height: 100%
                &:hover 
                    .shopPage__listItem__image.has-hover 
                        img 
                            opacity: 0
                            visibility: hidden
                            &.hover-image
                                opacity: 1
                                visibility: visible
            &__price 
                font-size: 22px
                font-weight: 700
                margin-top: auto
                line-height: 1
                display: flex 
                flex-wrap: wrap 
                ins 
                    text-decoration: none
                &.sale 
                    del 
                        font-weight: 500
                        color: $color-background-dark
                        text-decoration: none 
                        order: 1
                        font-size: 16px
                        display: inline-block
                        width: fit-content
                        position: relative
                        +max-screen(1200px)
                            font-size: 14px
                        +max-screen($breakpoint-lg)
                            font-size: 12px
                        &::before 
                            content: "Ord pris "
                        &::after 
                            content: ""
                            position: absolute
                            top: 50%
                            left: 0
                            width: 100%
                            height: 1px
                            background: $color-background-dark
                            opacity: 0.5
                    ins 
                        color: $color-red
                        width: 100% 
                    del,
                    ins
                        bdi 
                            span  
                                display: inline-block 
                                margin-left: 0.25em
                +max-screen(1200px)
                    font-size: 19px
                +max-screen($breakpoint-lg)
                    font-size: 17px
            &__title 
                font-size: 18px
                margin-bottom: 12px
                +max-screen(1200px)
                    font-size: 15px
                    margin-bottom: 8px
                +max-screen($breakpoint-lg)
                    font-size: 13px 
                    margin-bottom: 4px
    &__pagination 
        max-width: 360px 
        display: flex 
        align-items: center
        margin: auto  
        margin-top: 64px
        +max-screen(1200px)
            margin-top: 48px
        +max-screen($breakpoint-lg)
            max-width: 300px
            margin-top: 42px
        &Page 
            font-size: 16px
            display: flex 
            margin-left: 16px
            margin-right: 16px
            +max-screen($breakpoint-lg)
                font-size: 14px
                margin-left: 10px
                margin-right: 10px
            span 
                margin: 0 4px 
                +max-screen($breakpoint-lg)
                    display: block 
                    margin: 0 2px 
        &Button 
            flex: 1
            background-color: $color-text
            color: $color-white
            display: flex
            justify-content: space-around
            padding: 14px
            cursor: pointer
            +max-screen($breakpoint-lg)
                font-size: 15px
                padding: 11px 6px
            svg 
                height: auto
                width: 12px 
                +max-screen($breakpoint-lg) 
                    width: 10px 
                line 
                    stroke: #fff !important
            &.prev 
                svg 
                    transform: rotate(180deg)
            &.disabled 
                pointer-events: none 
                color: $color-disabled
                background-color: $color-background-disabled 
                svg 
                    line 
                        stroke: $color-disabled !important
.archive.woocommerce-page 
    .seo-text
        background: $color-background-main
        padding: 0
        margin-bottom: 20px
        overflow: hidden
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 4
        max-height: 100%
        .yrm-content-gradient-1
            background: none !important
        .yrm-toggle-expand
            width: 100px
            height: 40px
            border: 0
            color: transparent
            transition: .3s 
            background-image: url("data:image/svg+xml,%3Csvg fill='%23' height='40px' width='40px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 407.437 407.437' xml:space='preserve'%3E%3Cpolygon points='386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 '%3E%3C/polygon%3E%3C/svg%3E")
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            +max-screen($breakpoint-lg)
                width: 80px 
                height: 40px 
            +max-screen($breakpoint-md)
                width: 60px 
                height: 30px 
        .yrm-less-button-wrapper .yrm-toggle-expand
            transform: rotate(180deg)
        .seo-text__opener 
            height: 42px 
            background-color: $color-background-main
            background-image: url("data:image/svg+xml,%3Csvg fill='%23' height='40px' width='40px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 407.437 407.437' xml:space='preserve'%3E%3Cpolygon points='386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 '%3E%3C/polygon%3E%3C/svg%3E")
            +max-screen(1200px)
                height: 32px 
                background-size: 28px 
                bottom: 0 
            +max-screen($breakpoint-md)
                height: 24px 
                background-size: 20px 
        &.seo-text__content--long-opened
            max-height: 100%            
        &.seo-text__content--long-opened 
            display: block 
        &__content--long
            padding-bottom: 42px 
            max-height: 100% 
            +max-screen(1200px)
                padding-bottom: 32px
            +max-screen($breakpoint-md)
                padding-bottom: 24px
        &__content
            +max-screen($breakpoint-md)
                max-width: 600px
                margin: auto
body,
.shopPage__filtersRow__listWrapper
    &.loading
        position: relative
        &::before 
            content: ""
            position: fixed 
            left: -20px 
            top: -20px 
            width: calc( 100% + 40px )
            height: calc( 100% + 20px )
            background-color: rgba(255, 255, 255, 0.7)
            z-index: 1000
            +max-screen($breakpoint-lg)
                width: 100% 
                height: 100%
                left: 0
                top: 0
        &::after 
            content: ""
            width: 64px 
            height: 64px 
            position: fixed  
            left: 50% 
            top: 50%
            transform: translate(-50%, -50%)
            background-image: url('../assets/images/loading-gif.gif')
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            z-index: 101
            +max-screen($breakpoint-lg)
                width: 42px 
                height: 42px 
.shopPage__filtersRow__listWrapper.loading
    &::before,
    &::after 
        position: absolute