.single-product
    #main 
        overflow: hidden
    #main > .woocommerce-breadcrumb 
        display: none 
    #sidebar 
        display: none 
    .latest-products 
        .products
            margin-bottom: -36px
body.single-product:not(.loaded)
    position: relative
    // &::before 
    //     content: ""
    //     position: fixed 
    //     left: -20px 
    //     top: -20px 
    //     width: calc( 100% + 40px )
    //     height: calc( 100% + 20px )
    //     background-color: rgba(255, 255, 255, 0.7)
    //     z-index: 1000
    //     +max-screen($breakpoint-lg)
    //         width: 100% 
    //         height: 100%
    //         left: 0
    //         top: 0
    // &::after 
    //     content: ""
    //     width: 64px 
    //     height: 64px 
    //     position: fixed  
    //     left: 50% 
    //     top: 50%
    //     transform: translate(-50%, -50%)
    //     background-image: url('../assets/images/loading-gif.gif')
    //     background-size: contain
    //     background-position: center
    //     background-repeat: no-repeat
    //     z-index: 1001
    //     +max-screen($breakpoint-lg)
    //         width: 42px 
    //         height: 42px 
.singleProduct
    +min-screen(770px)
        background-color: $color-white
        padding-bottom: 42px
        +max-screen($breakpoint-lg)
            padding-bottom: 32px
    &__content 
        display: flex 
        margin: 0 -20px 
        +max-screen($breakpoint-lg)
            margin: 0 -15px 
        +max-screen($breakpoint-md)            
            display: block
    &__colorsList 
        display: flex 
        margin: 0 -6px 
        margin-top: 24px
        margin-bottom: 24px
        +max-screen($breakpoint-md)
            margin: 0 -4px 
            margin-top: 16px
            margin-bottom: 16px
        &__item 
            border-radius: 50%
            width: 24px 
            height: 24px 
            +max-screen($breakpoint-md)
                width: 20px 
                height: 20px 
            &Wrapper 
                padding: 0 8px 
                +max-screen($breakpoint-lg)
                    padding: 0 6px 
                +max-screen($breakpoint-md)
                    padding: 0 4px 
            &.active
                border: 1px solid $color-text
    &__breadcrumbs 
        position: relative
        #breadcrumbs
            position: relative
            +max-screen(1200px)
                margin-bottom: 2rem
            +max-screen($breakpoint-lg)
                margin-bottom: 0.75rem
            +min-screen(770px)
                padding-bottom: 12px
                padding-top: 6px
                +max-screen(1200px)
                    padding-bottom: 8px
                +max-screen($breakpoint-lg)
                    font-size: 12px
            +max-screen($breakpoint-md)
                font-size: 10px
                margin-bottom: 8px
    &__gallery 
        overflow: hidden 
        position: relative
        img 
            width: 100%
        
        &Wrapper 
            width: 50% 
            padding: 0 20px
            position: relative
            +max-screen($breakpoint-lg)
                width: 45%
                padding: 0 15px 
            +max-screen($breakpoint-md)
                width: 100% 
        &Slider 
            position: fixed 
            top: 0
            left: 0
            width: 100% 
            height: 100%
            z-index: 200
            visibility: hidden
            opacity: 0
            transition: .5s 
            a 
                pointer-events: none 
            &.active 
                visibility: visible
                opacity: 1
            .woocommerce-product-gallery__wrapper
                position: absolute
                left: 50% 
                z-index: 1
                top: 50%
                transform: translate(-50%, -50%)
                width: 650px 
                +max-screen(1440px)
                    width: 600px 
                +max-screen(1200px)
                    width: 550px 
                +max-screen($breakpoint-lg)
                    width: 80vw 
                    max-width: 550px 
                +max-screen($breakpoint-md)
                    width: 65vw 
                img 
                    width: 100%
                ul.slick-dots 
                    li 
                        opacity: 0.9
                        background-color: $color-white
                        &.slick-active 
                            opacity: 1
                img 
                    max-height: 75vh 
                    object-fit: cover 
                .slick-slide 
                    padding: 0
                .slick-track
                    background-color: #fff
            &__close 
                width: 32px 
                height: 32px 
                position: absolute 
                top: 64px 
                right: 64px 
                background-image: url('../assets/images/icons/close.svg')
                background-size: contain
                background-position: center
                background-repeat: no-repeat
                cursor: pointer
                +max-screen(1200px)
                    top: 42px 
                    right: 42px 
                    width: 24px 
                    height: 24px 

        &Overlay
            position: absolute
            left: 0
            top: 0
            width: 100% 
            height: 100%
            background-color: rgba( 0, 0, 0, 0.3)
    .woocommerce-product-gallery__wrapper
        .slick-arrow 
            position: absolute 
            top: 50%
            background-color: transparent 
            font-size: 0
            width: 32px 
            height: 64px 
            background-image: url('../assets/images/icons/white-arrow.png')
            background-size: contain
            background-repeat: no-repeat 
            background-position: center
            padding: 0
            +max-screen(1200px)
                width: 26px 
                height: 48px 
            +max-screen($breakpoint-md)
                width: 22px 
                height: 42px 
            +max-screen($breakpoint-sm)
                width: 18px 
                height: 36px 
        .slick-track 
            display: flex
            align-items: center
        .slick-next 
            right: -64px 
            transform: translateY(-50%)
            +max-screen($breakpoint-sm)
                right: -42px
        .slick-prev
            left: -64px 
            transform: translateY(-50%) rotate(180deg)
            +max-screen($breakpoint-sm)
                left: -42px
        .slick-dots
            display: flex
            justify-content: center
            margin-top: 24px
            +max-screen($breakpoint-lg)
                margin-bottom: 8px
                margin-top: 12px
            li 
                background-color: $color-background-gray
                border-radius: 0
                width: 32px
                height: 4px 
                margin: 0 5px 
                +max-screen($breakpoint-lg)
                    width: 24px
                    height: 3px 
                    margin: 0 3px 
                &.slick-active 
                    background-color: $color-text
    &__data
        position: relative
        +max-screen($breakpoint-md)
            padding-top: 16px
        &Wrapper
            position: relative 
            padding-bottom: 32px
            width: 50%
            padding-left: 20px
            padding-right: 20px
            +max-screen($breakpoint-lg)
                padding-left: 15px
                padding-right: 15px
                width: 55%
            +max-screen($breakpoint-md)
                width: 100%
            &::before 
                content: ""
                position: absolute
                top: 0
                height: 100%
                background-color: $color-white
                +max-screen($breakpoint-md)
                    left: -15px 
                    width: calc(100% + 30px )
                +max-screen($breakpoint-sm)
                    left: -5px 
                    width: calc( 100% + 10px )

    &__tax 
        font-weight: 700
        text-transform: uppercase
        +max-screen($breakpoint-lg)
            font-size: 14px
            margin-bottom: 8px
        +max-screen($breakpoint-md)
            font-size: 12px 
            margin-bottom: 4px 
    &__title 
        margin-bottom: 24px
        +max-screen($breakpoint-lg)
            margin-bottom: 16px
        +max-screen($breakpoint-md)
            margin-bottom: 12px
    &__price 
        font-weight: 700
        font-size: 24px
        &:not(.sale)
            line-height: 1.2
        +max-screen($breakpoint-md)
            font-size: 22px
        .woocommerce-Price-currencySymbol
            margin-left: 4.5px
            display: inline-block 
        ins 
            text-decoration: none
            line-height: 1.2
        &.sale 
            display: flex 
            flex-direction: row
            flex-wrap: wrap
            margin: 0 -3px 
            & > .amount 
                margin: 0 3px 
            del 
                font-weight: 500
                color: $color-background-dark
                text-decoration: none 
                order: 1
                font-size: 15px
                display: inline-block
                width: fit-content
                position: relative
                margin-left: 3px
                +max-screen($breakpoint-md)
                    font-size: 13px
                    color: $color-text
                &::before 
                    content: "Ord pris "
                &::after 
                    content: ""
                    position: absolute
                    top: 50%
                    left: 0
                    width: 100%
                    height: 1px
                    background: $color-background-dark
                    opacity: 0.5
            ins 
                color: $color-red
                margin-left: 3px
            ins
                width: 100% 
    &__size 
        &Wrapper
            margin-bottom: 24px
            font-size: 18px
            +max-screen(1200px)
                font-size: 16px
            +max-screen($breakpoint-md) 
                margin-bottom: 16px
        &Title 
            text-align: center
            background-color: $color-background-main
            position: relative 
            cursor: pointer
            padding: 15px 24px 
            +max-screen(1200px)
                padding: 11px 24px 
            &::after 
                content: "▼"
                position: absolute
                top: 50% 
                right: 10px 
                transform: translateY(-50%) 
                font-size: 10px
                transition: 0.3s
            &.opened::after 
                transform: translateY(-50%) rotate(180deg)
        &List 
            background-color: $color-background-main
            display: none 
            &__item 
                text-align: center
                transition: .3s 
                cursor: pointer
                padding: 8px 12px 
                +max-screen(1200px)
                    padding: 6px 12px 
                &.active 
                    background-color: $color-text 
                    color: $color-white
    &__purchase 
        & > input 
            display: none 
        .woocommerce-variation-price 
            .price 
                flex-direction: column 
            del 
                font-weight: 500
                color: $color-background-dark
                text-decoration: none 
                order: 1
                font-size: 15px
                display: flex
                width: fit-content
                position: relative
                +max-screen($breakpoint-md)
                    font-size: 13px
                    color: $color-text
                &::before 
                    content: "Ord pris "
                    padding-right: 3px
                &::after 
                    content: ""
                    position: absolute
                    top: 50%
                    left: 0
                    width: 100%
                    height: 1px
                    background: $color-background-dark
                    opacity: 0.5
            ins 
                color: $color-red
                text-decoration: none 
            ins
                width: 100% 
        .single_variation 
            margin-bottom: 12px
            font-weight: 700
            margin-top: -8px
            font-size: 20px
            +max-screen($breakpoint-md)
                margin-bottom: 8px
                font-size: 16px
            .woocommerce-variation-availability 
                display: none 
        .single_variation_wrap *
            display: flex 
        .variations_form
            table 
                opacity: 0
                visibility: hidden
                display: block
                width: 0
                height: 0
        input.qty
            background-color: transparent
            padding: 12px 
            text-align: center
            width: 100%
            background-color: $color-background-main
            border-radius: 0
            width: 60px 
            +max-screen($breakpoint-md)
                width: 50px 
                padding: 4px 
        .quantity
            &-btn
                display: flex 
                align-items: center
                padding: 0 13px 
                cursor: pointer
                background-color: $color-background-main
                &.disabled
                    opacity: 0.7 
                    pointer-events: none 
        .single_add_to_cart_button
            background-color: #000
            opacity: 1
            text-align: center
            display: block
            width: calc( 70% - 6px )
            margin-left: 24px
            font-size: 18px
            white-space: nowrap
            +max-screen(1200px)
                font-size: 16px
            +max-screen($breakpoint-md)
                padding-left: 12px
                padding-right: 12px
                width: calc( 70% - 6px )
                margin-left: 12px
                flex: 1
            &.disabled 
                opacity: 0.8
    &__featuresList 
        position: relative
        margin-top: 32px
        margin-bottom: 42px
        +max-screen($breakpoint-md)
            margin-top: 24px
            margin-bottom: 36px
        &::after 
            content: ""
            position: absolute
            left: 0
            width: 100% 
            height: 1px 
            border: 1px solid $color-gray-border
            bottom: -21px
            +max-screen($breakpoint-md)
                bottom: -17px 
        &__item 
            display: flex 
            margin-bottom: 12px
            align-items: center
            +max-screen($breakpoint-md)
                margin-bottom: 8px
            &Label
                font-weight: 500
                +max-screen($breakpoint-lg)
                    font-size: 16px
                +max-screen($breakpoint-md)
                    font-size: 14px
            &Icon 
                display: flex 
                margin-right: 12px
                +max-screen($breakpoint-md)
                    margin-right: 8px
                img 
                    object-fit: contain
                    width: 24px
                    height: 24px 
                    +max-screen($breakpoint-lg)
                        width: 20px 
                        height: 20px 
                    +max-screen($breakpoint-md)
                        width: 16px 
                        height: 16px 
    &__accordion
        &List 
        &Item 
            +max-screen($breakpoint-md)
                margin-bottom: 8px
            &__title 
                position: relative 
                cursor: pointer 
                font-size: 18px
                +min-screen($breakpoint-xxl)
                    font-size: 19px
                +max-screen(1200px)
                    font-size: 16px
                &::after 
                    content: ""
                    width: 18px 
                    height: 18px 
                    top: 50% 
                    right: -2px 
                    transform: translateY(-50%) rotate(90deg)
                    background-image: url('../assets/images/icons/right-arrow.png')
                    background-size: contain
                    background-repeat: no-repeat
                    background-position: center
                    position: absolute
                    transition: .3s 
                &.opened::after 
                    transform: translateY(-50%) rotate(270deg)
            &__content 
                display: none 
                padding-top: 12px
                padding-bottom: 1px
                h1
                    font-size: 24px
                    margin: 1rem 0
                    +max-screen($breakpoint-md)
                        font-size: 20px
                        margin: 0.75rem 0
                h2 
                    font-size: 20px
                    margin: 0.75rem 0
                    +max-screen($breakpoint-md)
                        font-size: 18px
                        margin: 0.5rem 0
                h3
                    font-size: 18px
                    margin: 0.75rem 0
                    +max-screen($breakpoint-md)
                        font-size: 16px
                        margin: 0.5rem 0
                h4,
                h5
                    font-size: 16px
                    margin: 0.35rem 0
                    +max-screen($breakpoint-md)
                        font-size: 14px
                        margin: 0.35rem 0
                p,
                ul,
                li 
                    +max-screen($breakpoint-md)
                        font-size: 14px
                ul,
                li 
                    list-style-type: disc 
                ul 
                    margin: 0.75rem 0
                    padding-left: 20px
                    +max-screen($breakpoint-md)
                        margin: 0.5rem 0
                & > h2 
                    display: none 
                .woocommerce-Tabs-panel--description > *:first-child 
                    margin-top: 0
    &__link 
        position: relative 
        margin-top: 16px
        display: block
        font-size: 18px
        +min-screen($breakpoint-xxl)
            font-size: 19px
        +max-screen(1200px)
            font-size: 16px
        &::after 
            content: ""
            width: 18px 
            height: 18px 
            top: 50% 
            right: -2px 
            transform: translateY(-50%)
            background-image: url('../assets/images/icons/right-arrow.png')
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            position: absolute